@model Library_BackEnd.Models.Dto.ManagementViewModel;

@{
    ViewData["Title"] = "Gestione Libri";
}

<div>
    <section>
        <partial name="_Form" model="Model.ToForm" />
    </section>

    @if(TempData["Message"] != null)
    {
        <div id="TempAlert" class="alert alert-success mt-3">@TempData["Message"]</div>
	}


    <hr />
    <section>
        <partial name="_ListBooksForManagement" model="Model.Books" />
    </section>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function ReturnToBackoffice() {
            console.log("Sei dentro annulla");
            window.location.replace("/Library/BackOffice");
        }

        if (document.getElementById("TempAlert")) {
            setTimeout(function () {
                var alertBox = document.getElementById("TempAlert");
                alertBox.style.transition = "opacity 0.5s ease-out";
                alertBox.style.opacity = "0";
                setTimeout(function () {
                    alertBox.remove();
                }, 500);
            }, 3000);
		}

            function updateFileName(input) {
            const label = document.getElementById('fileLabel');
            const textSpan = label.querySelector('.file-input-text');

            if (input.files && input.files.length > 0) {
                textSpan.textContent = input.files[0].name;
                label.classList.add('has-file');
            } else {
                textSpan.textContent = 'Nessun file selezionato';
                label.classList.remove('has-file');
            }
        }

    </script>
}